@font-face {
    font-display: swap;
    font-family: 'Bubblegum Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bubblegum-sans-v20-latin-regular.woff2') format('woff2'); 
}